body {
    background-color:white;
    color: black;
}

body.newcolor{
    background-color:black;
    color: white;
}

.navbar {
    position: sticky;
    top:0;
    padding: 5px;
    background-color: white;

}