$bgcolor: white;
$color:black;

body {
    background-color:$bgcolor;
    color: $color;
}

body.newcolorA {
    background-color:black;
    color: white;
}

h1 {
    font-size: 30px;
}

.intro {
    background-color: $bgcolor;
    color: $color;
}

.intro_Text {
    font-size: 50px;
}

.newcolorA .intro {
    background-color: black;
    color: white;
}

.navbar {
    position: sticky;
    top:0;
    padding: 5px;
    
    &.navbar-custom {
        background-color: white;
        color:black;
    }
    
}

.newcolorA .navbar-custom {
    background-color: black;
    color: white;
}

.table {
    position: relative;

    .table-custom {
        background-color: white;
        color: black;
    }
        
    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        max-width: 100%;
        height: auto;
        width: 150px;
    }
}

.newcolorA .table-custom {
    background-color: black;
    color: white;
}

.sliderA {
    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        max-width: 100%;
        height: auto;
        width: 150px;
    }
}



    