$bgcolor: white;
$color:black;

body {
    background-color:$bgcolor;
    color: $color;
}

body.newcolorA{
    background-color:black;
    color: white;
}
.intro{
    background-color: $bgcolor;
    color: $color;
}
.intro.newcolorB{
    background-color: black;
    color: white;
}

.navbar {
    position: sticky;
    top:0;
    padding: 5px;
    background-color: white;
}

.navbar.newcolorC{
    background-color: black;
    color: white;
}



    