$bgcolor: silver;
$color:#d41d1d;
head {
     width: 150px;
     height: 150px;
     background-color: none;
     position: fixed;
     float: left;
    }

body {
    background-color: black;
}
.newcolor{
    background-color:$bgcolor;
}
    .box_image1{
    width: 250px;
    height: 250px;
    background-image:url(anhanh.jpg);
    background-repeat: no-repeat;
    position:relative;
    float: left;   
    padding: left;     
    }
    .box {
        width: 250px;
        height: 250px;
        background-color: brown;
        position: relative;
        float: left;
        /* display: inline-block; */
        padding: 20px 50px 50px 30px;

        &--orange {
            background-color: orange;
            margin-left: -40px;
            margin-top: 40px;
            z-index: -1;
            padding-left: 50px;
        }

        &--gold {
            background-color: gold;
            position: absolute;
            left: 150px;
            top: 250px;
            z-index: 1;
    
        }

    }
   
  
    .eat {
        color:$color;
        }

    #special {
        color: cyan;
        }

    .drink {
        color: darkblue;
        }
    