$bgcolor: white;
$color:black;

body {
    background-color:$bgcolor;
    color: $color;
}

body.newcolorA {
    background-color:black;
    color: white;
}

h1 {
    font-size: 30px;
    font-family: 'Lobster', cursive;
}

.intro {
    background-color: $bgcolor;
    color: $color;

    .intro_Text1 {
        font-size: 50px;
        font-family: 'Corben', cursive;
    }

    .intro_Text2 {
        font-size: 40px;
        font-family: 'Tangerine', cursive;
    }
}


.newcolorA .intro {
    background-color: black;
    color: white;
}

.navbar {
    position: sticky;
    top:0;
    padding: 5px;
    
    &.navbar-custom {
        background-color: white;
        color:black;
    }
    
}

.newcolorA .navbar-custom {
    background-color: black;
    color: white;
}

.table {
    position: relative;

    .table-custom {
        background-color: white;
        color: black;
    }
        
    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        max-width: 100%;
        height: auto;
        width: 150px;
    }
}

.newcolorA .table-custom {
    background-color: black;
    color: white;
}

.sliderA {
    img {
        border: 1px solid #ddd;
        border-radius: 4px;
        padding: 5px;
        max-width: 100%;
        height: auto;
        width: 150px;
    }
}

.slick-prev:before,
.slick-next:before {
    color: black;
}

.newcolorA {

    .slick-prev:before, .slick-next:before {
        color: white;
    }
}



    